.monTableau{
    border-collapse: collapse;
    border: dashed 4px #000;
    margin: 25px 0 0 50px;
}

.maCell1{
    background-color:orangered;
}

.maCell2{
    background-color:rgb(104, 10, 107);
}

.maCell3{
    background-color:rgb(255, 174, 0);
}

.maCell4{
    background-color:rgb(70, 148, 17);
}

.maCell1, .maCell2, .maCell3, .maCell4{
    width: 100px;
    height: 100px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}



